<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-navbar></app-navbar>
</div>
<!--<div class="container" style="margin-top: 5rem">
  <div class="row" style="margin-bottom: 2rem">
      <app-product-tile ImgUrl="assets/angular-3.svg" class="col"></app-product-tile>
      <app-product-tile ImgUrl="assets/JavaScript-logo.png" class="col"></app-product-tile>
      <app-product-tile ImgUrl="assets/2000px-React-icon.svg.png" class="col"></app-product-tile>
  </div>
  <div class="row" style="margin-bottom: 2rem">
      <app-product-tile ImgUrl="assets/bootstrap-logo.png" class="col"></app-product-tile>
      <app-product-tile ImgUrl="assets/logo-b6e1ef6e.svg" class="col"></app-product-tile>
      <app-product-tile ImgUrl="assets/nodejs-new-pantone-black.png" class="col"></app-product-tile>
  </div>
  <div *ngIf="sideBarState" class="sidebar-conatiner">
    <div class="sidebar-content">
        <div class="close-button" (click)=ToggleSideBar()>
            Close
          </div>
    </div>
  </div>
</div>-->
<div class="container" style="margin-top: 5rem">
  <router-outlet></router-outlet>
  <div *ngIf="sideBarState" class="sidebar-conatiner">
      <div class="sidebar-content">
          <div class="close-button" (click)=ToggleSideBar()>
              Close
            </div>
      </div>
    </div>
</div>
<add-tech-modal></add-tech-modal>