<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-navbar></app-navbar>
</div>
<div class="continer" style="margin-top: 2rem">
  <div class="row" style="margin-bottom: 2rem">
      <app-product-tile class="col"></app-product-tile>
      <app-product-tile class="col"></app-product-tile>
      <app-product-tile class="col"></app-product-tile>
  </div>
  <div class="row" style="margin-bottom: 2rem">
      <app-product-tile class="col"></app-product-tile>
      <app-product-tile class="col"></app-product-tile>
      <app-product-tile class="col"></app-product-tile>
  </div>
  <div *ngIf="sideBarState" class="sidebar-conatiner">
      <div class="close-button" (click)=ToggleSideBar()>
        Close
      </div>
  </div>
</div>