.nav-container{
    background: #00aced;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.nav-button{
    color: white;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    display: inline-block;
}
.nav-button:hover{
    color: darkblue;
}

.login-button{
    float: right
}

.menu-icon{
    width: 2rem;
    height: 1.5rem;
}

.menu-icon-container{
    display: none;
}

@media only screen and (max-width: 600px){
    .nav-button{
        display: none;
    }
    .login-button{
        display: inline-block;
    }
    .menu-icon-container{
        display: inline-block;
    }
}