.nav-container{
    background: #00aced;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.nav-button{
    width: 12rem;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    display: inline-block;
}
.nav-button:hover{
    color: orange;
}