<div class="nav-container">
    <div class="nav-button" routerLink="/home" routerLinkActive="active">
        Home
    </div>
    <div class="nav-button" (click)="OpenSideBar()">
        Click to open SideBar
    </div>
    <div *ngIf="!productSorted; else elseBlock" class="nav-button" (click)="SortProducts()">
        Click to Sort
    </div>
    <ng-template #elseBlock>
        <div class="nav-button" (click)="SortProducts()">
            Click to UnSort
        </div>
    </ng-template>
    <div class="nav-button" routerLink="/new-tech" routerLinkActive="active">
        Add New Tech
    </div>
</div>

