.nav-container{
    background: darkblue;
    height: 55px;
}
.nav-button{
    width: 12rem;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}
.nav-button:hover{
    color: orange;
}