<div class="nav-container">
    <div class="nav-button menu-icon-container" (click)="OpenSideBar()">
        <div><img class="menu-icon" src="assets/menu.svg" alt="Image cannot be displayed"></div>
    </div>
    <div class="nav-button" routerLink="/home" routerLinkActive="active">
        <div>Home</div>
    </div>
    <div class="nav-button" (click)="OpenModal()">
        <div>Add a new Tech</div>
    </div>
    <div *ngIf="!productSorted && displaySort==true" class="nav-button" (click)="SortProducts()">
        <div>Click to Sort</div>
    </div>
    <div *ngIf="productSorted && displaySort==true" class="nav-button" (click)="SortProducts()">
        <div>Click to UnSort</div>
    </div>
    <div class="nav-button" routerLink="/feedback" routerLinkActive="active">
        <div>Feedback</div>
    </div>
    <!--<div class="nav-button">
        <div>Stats</div>
    </div>-->
    <div class="nav-button login-button">
        <div>Login</div>
    </div>
</div>

